<app-navbar (NewGameEvent)="newGame($event)"  (RestartGameEvent)="restartGame($event)" [startScreen]="showStartScreen"></app-navbar>
<div class="outterContainer" [ngClass]="showStartScreen ? 'showStart': 'playing'">
    <div class="innerContainer">
        
        <div [ngClass]="gridSize === 8 ? 'smallGrid': 'grid'" *ngIf="!showStartScreen">
            <app-gamecard [theme]="theme" *ngFor="let c of cards; let i = index" [data]="c" (cardClicked)="cardClick(i)"></app-gamecard>
        </div>

        <app-player-display *ngIf="!showStartScreen" [currentPlayer]="currentPlayer" [multiplePlayers]="players.length === 1 ? false : true" [players]="players"></app-player-display>
        
        <app-restartscreen *ngIf="showRestartScreen"></app-restartscreen>
        <app-startscreen (GameStarted)="startGame($event)" *ngIf="showStartScreen"></app-startscreen>
    </div>
</div>
