<div class="startScreenOverlay">
    <div class="startScreenContainer">
        <form>
            <fieldset>
                <legend>Select theme</legend>
                <div class="inputFlexContainer">
                    <div>
                        <input class="startScreenRadio" type="radio" id="numbers" name="themePicker" [formControl]="themeControl" value="numbers" checked>
                        <label for="numbers">Numbers</label>
                    </div>                
                    <div>
                        <input class="startScreenRadio" type="radio" id="icons" name="themePicker" [formControl]="themeControl" value="icons">
                        <label for="icons">Icons</label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Number of Players</legend>
                <div class="inputFlexContainer">                    
                    <div>
                        <input class="startScreenRadio" type="radio" id="one" name="playerPicker" [formControl]="playersControl" value="1" checked>
                        <label for="one">1</label>
                    </div>                
                    <div>
                        <input class="startScreenRadio" type="radio" id="two" name="playerPicker" [formControl]="playersControl" value="2">
                        <label for="two">2</label>
                    </div>
                    <div>
                        <input class="startScreenRadio" type="radio" id="three" name="playerPicker" [formControl]="playersControl" value="3">
                        <label for="three">3</label>
                    </div>                
                    <div>
                        <input class="startScreenRadio" type="radio" id="four" name="playerPicker" [formControl]="playersControl" value="4">
                        <label for="four">4</label>
                    </div>      
                </div>
            </fieldset>
            <fieldset>
                <legend>Grid Size</legend>
                <div class="inputFlexContainer">                    
                    <div>
                        <input class="startScreenRadio" type="radio" id="small" name="gridPicker" [formControl]="gridControl" value="8">
                        <label for="small">4x4</label>
                    </div>                
                    <div>
                        <input class="startScreenRadio" type="radio" id="large" name="gridPicker" [formControl]="gridControl" value="18">
                        <label for="large">6x6</label>
                    </div>
                </div>
            </fieldset>
            <button type="button" class="submit" (click)="onStartGame()">Start Game</button>
        </form>
    </div>
</div>
